@mixin FontSize($font-size) {
    -moz-font-size: $font-size;
    -webkit-font-size: $font-size;
    -o-font-size: $font-size;
    -ms-font-size: $font-size;
    font-size: $font-size;
}

@mixin BorderRadius($border-radius) {
    -moz-border-radius: $border-radius;
    -webkit-border-radius: $border-radius;
    -o-border-radius: $border-radius;
    -ms-border-radius: $border-radius;
    border-radius: $border-radius;

}