@import './scss/abstracs/mixins';

header{
    padding: 1em 3em;
}

body{
    .main{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: .5rem;
        &-form{
            width: 100%;
            form{
                .field-group{
                    width: 100%;
                    position: relative;
                    margin-bottom: 1rem;
                    &-input{
                        width: 100%;
                        outline: 0;
                        border: 1px solid var(--primary-color);
                        @include BorderRadius(8px);
                        padding: 10px;
                        padding-left: 50px;
                        background: transparent;
                        @include FontSize(1rem);
                    }
                    &-icon{
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 60px;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: var(--primary-color);
                        @include FontSize(1rem);
                    }
                }
    
                .checkbox-group{
                    padding: .5rem;
                    label{
                        display: flex;
                        align-items: center;
                        color: var(--primary-color);
                        p{
                            margin-left: 1rem;
                            user-select: none;
                        }
                    }
                }
            }
    
            &-address{
                margin-top: 1rem;
                &-inline{
                    display: grid;
                    gap: 1.5rem;
                    grid-template-columns: repeat(2, 1fr);
                }
            }

            .alignRight{
                text-align: right;
                button{
                    padding: 1.3rem 2.5rem;
                    @include BorderRadius(8px);
                    color: var(--secondary-color);
                    background-color: var(--tertiary-color);
                }
            }
        }

        &-shop{
            margin-bottom: 1.5rem;
            max-width: 400px;
            width: 100%;
            &-card{
                background-color: var(--light-gray);
                padding: 1.6rem;
                @include BorderRadius(10px);
                width: 100%;
                height: auto;
                .text-inline{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: .8rem;
                }
                .item{
                    display: flex;
                    padding: .5rem;
                    margin-bottom: .6rem;
                    align-items: center;
                    .img{
                        img{
                            @include BorderRadius(10px);
                            max-width: 150px;
                            width: 100%;
                            height: auto;
                        }
                    }
                    &-info{
                        padding: .5rem;
                        margin-left: 1rem;
                        width: 55%;
                        .price{
                            color: var(--tertiary-color);
                            font-weight: 550;
                        }
                        .count{
                            border: 1px solid var(--black);
                            @include BorderRadius(5px);
                            padding: .8rem;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-top: .5rem;
                            button{
                                @include BorderRadius(5px);
                                background-color: var(--primary-color);
                                padding: .5rem 1rem;
                            }
                            span{
                                padding: 0 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

footer{
    text-align: center;
    color: var(--primary-color);
    a{
        color: var(--primary-color);
    }
}

@media screen and (min-width: 1024px) {
    body{
        .main{
            display: grid;
            grid-template-columns: 1.6fr 1fr;
            gap: 1.5rem;
            place-items: center;
            &-form{
                padding: 1rem;
            }
        }
    }
}